
.nc-movies-trail__container-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  align-items: baseline;

  @media screen and (max-width: 360px) {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }

  @media screen and (max-width: 775px) {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  }
}

.nc-movie-trail-item__cover-container {
  @apply md:h-64
  md:w-44
  relative
  rounded-md
  overflow-hidden
  transition-all
  delay-75
  left-0
  top-0
  md:group-hover:shadow-lg
  md:group-hover:h-80
  md:group-hover:w-56
  md:group-hover:z-10;
}
